
* {
 box-sizing: border-box;
}

/* --- ############# TMPs ############# --- */



body{
font-family: 'AbibasMedium';
  font-size: 1.4rem;
  margin: auto;
  width: 83%;
}

p{
  line-height: 1.6em;
}

/* --- ############# xxx ############# --- */
.color-main{color: #030303;}
.color-alt{color: #f0f0f0;}
.color-bg{color: #666;}

/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


